<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mercedes Benz</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='vehicles.css'>
</head>

<body>
    <div class="navbar">
        <img class="mercedeslogo" href="homepage.html" src="/Images/f1navbar.png"/>
        <a href="homepage.html" class="homepage"> Home <img class="homepage3" src="/Images/homepage3.png"/> </a>
        <a href="vehicles.html" class="vehicles"> Vehicles <img class="f1icon" src="/Images/f1red.png"> </a>
        <a class="merch"> Merch <img class="f1merch" src="/Images/redbag.png"></a>
        <a class="contactus"> Team Info <img class="f1info" src="/Images/redinfo.png"> </a>
    </div>

    <div class="slide1">
        <img class="backgroundlogo" />
    </div> 

    <!-- <div class="slide2">
      <img class="f1background" src="/Images/amg_petronas.png"> 
      <img class="f1side" src="/Images/sidef1.png"> 
      <img class="f1cup" src="/Images/f1cup.png"> 
      <img class="f1cap" src="/Images/f1cap.png"> 
      <img class="f1toy" src="/Images/f1toy.png"> 
    </div>
   -->
    <div class="slide3">
        <img class="f1front" src="/Images//f1front1.jpg" >
    </div> 

    <div class="grid">
        <div class="grid1"> <img class="w11" src="/Images/mercedesw11.jpg"/> </div>   
        <h1 class="h1">F1 W11 EQ Performance - 2020</h1>  
        <p class="p1"> The W11 earned 13 wins, 12 further podiums, 15 pole positions and 9 fastest laps from just 17 races, <br/> scoring 573 points and giving the Mercedes-AMG Petronas Formula One Team both the Drivers' <br/> and Constructors' Championship titles for a record seventh consecutive time.</p>
        <!-- <p class="p4"> Races Wins Podiums Poles F/Laps 17 13 25 15 9 </p> -->
        <p class="p2"> First win: 2020 Austrian Grand Prix </p>
        <p class="p3"> Last win: 2020 Bahrain Grand Prix </p>
    </div>

    <div class="grid2">
        <div class="grid3"> <img class="w107" src="/Images/f1w107.jpg" /> </div>
        <h1 class="h1_2">F1 W07 Hybrid - 2016</h1>
        <p class="p1_2"> The Mercedes F1 W07 Hybrid was a car designed by the Mercedes team for the 2016 Formula One season. <br/> Their drivers were Lewis Hamilton and Nico Rosberg. It made its track début at Silverstone <br/> on 19th February 2016, and the car was officially unveiled online on 21 February. </p>
        <p class="p1_3"> First Win: 2016 Australian Grand Prix </p>
        <p class="p1_4"> Last Win: 2016 Abu Dhabi Grand Prix </p>
    </div>
</body>
</html>