<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mercedes Benz</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='vehicles.css'>
</head>
<body>
    <div class="navbar">
        <img class="mercedeslogo" href="homepage.html" src="/Images/f1navbar.png"/>
        <a href="homepage.html" class="homepage"> Home <img class="homepage3" src="/Images/homepage3.png"/> </a>
        <a href="vehicles.html" class="vehicles"> Vehicles <img class="f1icon" src="/Images/f1red.png"> </a>
        <a class="merch"> Merch <img class="f1merch" src="/Images/redbag.png"></a>
        <a class="contactus"> Team Info <img class="f1info" src="/Images/redinfo.png"> </a>
    </div>

    <div class="slide1">
        <img class="backgroundlogo" />
    </div> 

    <div class="slide2">
      <img class="f1background" src="/Images/amg_petronas.png"> 
      <img class="f1side" src="/Images/sidef1.png"> 
      <img class="f1cup" src="/Images/f1cup.png"> 
      <img class="f1cap" src="/Images/f1cap.png"> 
      <img class="f1toy" src="/Images/f1toy.png"> 
    </div>

    <div class="slide3">
        <img class="f1front" src="/Images//f1front1.jpg" >
    </div>

</body>
</html>